version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    env_file:
      - DB.env
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
  shortener:
    build:
      context: ../
      dockerfile: deployments/Dockerfile.shortener
    ports:
      - "50051:50051"
    env_file:
      - shortener.env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
  gateway:
    build:
      context: ../
      dockerfile: deployments/Dockerfile.gateway
    ports:
      - "8080:8080"
    env_file:
      - gateway.env
    depends_on:
      - shortener
volumes:
  db-data: 
